@import url("https://fonts.googleapis.com/css?family=Arimo&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Arimo', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
}

header {
  width: 280px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px;
  font-size: 16px;
  color: #999;
  overflow: scroll;
}

header a {
  text-decoration: none;
}

header a div {
  width: 220px;
  height: 180px;
  margin: 50px auto;
  background: #999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  cursor: pointer;
}

header p {
  margin: 0;
}

header span {
  display: none;
}

header ul {
  list-style: none;
  margin: 50px auto;
  padding: 0;
  width: 100%;
}

header ul a {
  text-decoration: none;
  width: 100%;
  color: #999;
}

header .basicMenu li {
  border-top: 1px solid #999;
  padding: 12px 0;
}

header .basicMenu li:hover {
  color: #272727;
}

header .socialMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .socialMenu a {
  width: 41px;
  height: 40px;
}

header .socialMenu a li {
  width: 40px;
  height: 40px;
  background: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

header .socialMenu a:hover > li {
  background: #999;
  color: white;
}

header::-webkit-scrollbar {
  width: 0;
}

main {
  width: 100%;
  margin-left: 270px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: (1fr)[3];
      grid-template: auto/repeat(3, 1fr);
  padding: 30px 50px 30px 30px;
  grid-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main div {
  width: 100%;
  max-width: 300px;
  background: #999;
  margin: 0 auto;
  -webkit-transition: opacity .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
  transition: opacity .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
  transition: box-shadow .3s ease-in-out, opacity .3s ease-in-out;
  transition: box-shadow .3s ease-in-out, opacity .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
  position: relative;
}

main div img {
  width: 100%;
  display: block;
}

main div:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

main div::before {
  content: 'Lorem Ipsum';
  width: 100%;
  height: 100%;
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  z-index: 3;
}

main div:hover {
  -webkit-box-shadow: inset 0px 0px 0px 10px rgba(0, 0, 0, 0.75);
          box-shadow: inset 0px 0px 0px 10px rgba(0, 0, 0, 0.75);
}

main div:hover:after, main div:hover:before {
  opacity: 1;
}

@media only screen and (max-width: 1150px) {
  main {
    -ms-grid-rows: auto;
    -ms-grid-columns: (1fr)[2];
        grid-template: auto/repeat(2, 1fr);
  }
}

@media only screen and (max-width: 900px) {
  main {
    -ms-grid-rows: auto;
    -ms-grid-columns: 1fr;
        grid-template: auto / 1fr;
  }
}

@media only screen and (max-width: 700px) {
  body {
    display: block;
  }
  main {
    -ms-grid-rows: auto;
    -ms-grid-columns: 2fr;
        grid-template: auto / 2fr;
    margin: 0;
    padding: 0 10px 50px;
  }
  header {
    position: relative;
    width: 100vw;
    height: auto;
  }
  header div {
    margin: 0 auto 30px;
    width: 100%;
    max-width: 600px;
  }
  header p {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
  }
  header span {
    display: block;
    width: 100%;
    text-align: center;
    cursor: pointer;
    margin: 20px 0 10px;
    color: #292929;
  }
  header span i {
    font-size: 10px;
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: -webkit-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
  }
  header .basicMenu {
    overflow: hidden;
    height: 10px;
    -webkit-transition: height .5s ease-in-out;
    transition: height .5s ease-in-out;
    position: relative;
    margin: 0;
  }
  header .socialMenu {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-bottom: 0;
  }
}

.artistContainer {
  width: 100%;
  margin-left: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px;
}

.artistContainer div {
  padding: 30px 50px 30px 30px;
  width: 100%;
  max-width: 800px;
  overflow: hidden;
}

.artistContainer div h2 {
  margin: 45px 0;
}

.artistContainer div p {
  color: #777;
  line-height: 1.5;
  margin-bottom: 30px;
}

.artistContainer div img {
  width: 100%;
  display: block;
}
/*# sourceMappingURL=style.css.map */